
.wrapper {
    padding-left: 236px;
    padding-right: 236px;
    padding-bottom: 87px;
    padding-top: 84px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 171.4%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.cardBox {
    display: flex;
    gap: 15px;
}
