.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.headerFirstLine {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    width: 218px;
    height: 56px;
    gap: 25px;

    img {
        fill: #ffb600;
    }
}

.logo {
    margin-left: 54px;
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;

    .telimg {
        margin-right: 27px;
    }

    span {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}

.cart {
    margin-left: 71px;
    position: relative;

    .round {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4eb4e6;
        position: absolute;
        left: 41px;
        bottom: 40px;
    }

    span {
        font-size: 14px;
    }
}

.secondline {
    margin: 0 auto;
    margin-top: 45px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 57px;
}

.title {
    margin: 0 auto;
    margin-top: 132px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    .firstTitle {
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 67px;
        text-align: center;
    }

    .secondTitle {
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 67px;
        text-align: center;
        color: #b0e5ff;
        text-transform: uppercase;
    }

    .description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
    }

    button {
        margin-top: 63px;
        background: linear-gradient(89.89deg, #60c0bc 0.08%, #4eb5e7 51.42%, #7662a7 101.08%);
        border-radius: 5px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 175%;
        width: 340px;
        height: 60px;
        color: white;
    }
}
