.secondscreen {
    background-color: #F8F8F8;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    padding-top: 90px;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 90px;
}

.title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 0 auto;
}

.filtrList {
    margin-top: 30px;
    display: flex;
    gap: 37px;
    margin-bottom: 50px;
}

.cardBox {
    display: flex;
}

.cardBox {
    display: flex;
    gap:15px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

